 body {
      background-image:url("Images/ArrièrePlanProfil.jpg");
background-position: top center;
background-size: cover;
      background-repeat: no-repeat;
      }
      
      footer {
            position: absolute;
            left : 0px;
            width: 100%;
            color : black;
            background-color: #FFFFFF;
      }

#barre {
      background-color: #FFFFFF;
     }
     
#fond {
      color: black;
      background-color: #FFFFFF;
}

#href {
      color: black;
}

#mention {
          color: black;
      }

#accueil {
      color: orangered;
      font-size: 26px;
      }

#profil {
        color: palevioletred;
        font-size: 26px;
        }
  
#projets {
         color: lightseagreen;
         font-size: 26px;
          }
  
#veille {
         color: darkgreen;
         font-size: 26px;
          }
  
#stages {
         color: goldenrod;
         font-size: 26px;
          }
  
#contact {
         color: indigo;
         font-size: 26px;
          }